@page "/"
@rendermode InteractiveServer
@using Distrolinux.Models


@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<Header />

@if (isLoading)
{
    <p>Loading...</p>
}
else if (errorMessage != null)
{
    <p class="text-danger">Error: @errorMessage</p>
}
else if (distros != null && distros.Any())
{
    <div class="container">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;">
            @foreach (var distro in distros)
            {
                <div style="border: 1px solid #ccc; padding: 10px; cursor: pointer;" @onclick="() => GoToDetails(distro.DistroId)">
                    <h3>@distro.Nome</h3>
                    <p>@distro.Descricao</p>
                    <img width="200px" src="@distro.ImageUrl" alt="@distro.Nome" />
                    
                </div>
            }
        </div>
    </div>
}

@code {
    private List<DistroModel>? distros;
    private bool isLoading = true;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("Accept", "application/json");
            distros = await client.GetFromJsonAsync<List<DistroModel>>("http://localhost:5130/api/Distro");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private void GoToDetails(Guid distroId)
    {
        NavigationManager.NavigateTo($"/distro/{distroId}");
    }
}

